@import "tailwindcss";
@import '@fontsource/barlow';


html {
    margin: 0 1.25rem;
}

p {
    font-family: 'Barlow', sans-serif;
  }

h1 {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
}