---
import Application from "./Application.astro";
import Options from "./Options.astro";
import Right from "./Right.astro"
import Configurator from "../components/Configurator.jsx";
---



<div>
    <div class="grid grid-rows-3 grid-cols-12 gap-4 ">
        <div class="col-span-4 col-start-2">
            <h1 class=" text-xl font-titles text-blue">
                Welcome to Pentair Everpure Sizing Europe.
            </h1>
            <h3 class="row-start-2  text-m text-grey font-p">
                Here you'll be able to quickly find the right Everpure solution for your application.
            </h3>
            <p class="row-start-3 mb-4 text-blue font-p text-xs">
                For other assistance, please contact Pentair Everpure Support foodservice.eu@pentair.com
                If you are visiting from US please, click here www.everpuresizing.com
            </p>
            <Application />
            <Options />
        </div>
        <div class="col-span-6">
            <Right />
        </div>
    </div>
   
</div>