---
import Application from "./Application.astro";
---

<div>
    <div class="grid grid-cols-6 gap-2">
        <h1 class="col-span-4 col-start-2 text-3xl">
            Welcome to Pentair Everpure Sizing Europe.
        </h1>
    </div>
</div>