---
import Button from '../components/Button.astro';
import { buttonTexts } from '../data/buttonTexts';
---

<div class="grid grid-cols-4 bg-[#f9f8f8] rounded-2xl p-3 mt-5">
        <h1 class="col-span-4 text-m text-blue font-titles">
            Choose your option
        </h1>
        <h2 class="col-span-4 text-s text-grey font-p">Type of coffee brewer?</h2>
        <div class="col-span-2">
            <Button text={buttonTexts.coffee} />
        </div>
        <div class="col-span-2">
            <Button text={buttonTexts.espresso}/>
        </div>

        <h2 class="col-span-4 text-s text-grey font-p">Total hardness</h2>
        <div class="col-span-4 flex rounded-full bg-white overflow-hidden font-medium text-center text-[#a2a2a2] text-sm inset-shadow-sm border-sm">
            <input type="radio" name="stage" id="left" value="left" class="sr-only peer/left" checked>
            <label for="left" class="flex-1 py-2 cursor-pointer peer-checked/left:bg-[#0C3471] peer-checked/left:text-white hover:bg-[#0C3471] hover:text-white">
              Sinistra
            </label>
          
            <input type="radio" name="stage" id="center" value="center" class="sr-only peer/center">
            <label for="center" class="flex-1 py-2 cursor-pointer peer-checked/center:bg-[#0C3471] peer-checked/center:text-white hover:bg-[#0C3471] hover:text-white">
              Centro
            </label>
          
            <input type="radio" name="stage" id="right" value="right" class="sr-only peer/right">
            <label for="right" class="flex-1 py-2 cursor-pointer peer-checked/right:bg-[#0C3471] peer-checked/right:text-white hover:bg-[#0C3471] hover:text-white">
              Destra
            </label>
          </div>

          <h2 class="col-span-4 text-s text-grey font-p">Total hardness</h2>
          <div class="col-span-4 flex rounded-full bg-white overflow-hidden font-medium text-center text-[#a2a2a2] text-sm inset-shadow-sm border-sm">
              <input type="radio" name="stage" id="left" value="left" class="sr-only peer/left" checked>
              <label for="left" class="flex-1 py-2 cursor-pointer peer-checked/left:bg-[#0C3471] peer-checked/left:text-white hover:bg-[#0C3471] hover:text-white">
                Sinistra
              </label>
            
              <input type="radio" name="stage" id="center" value="center" class="sr-only peer/center">
              <label for="center" class="flex-1 py-2 cursor-pointer peer-checked/center:bg-[#0C3471] peer-checked/center:text-white hover:bg-[#0C3471] hover:text-white">
                Centro
              </label>
            
              <input type="radio" name="stage" id="right" value="right" class="sr-only peer/right">
              <label for="right" class="flex-1 py-2 cursor-pointer peer-checked/right:bg-[#0C3471] peer-checked/right:text-white hover:bg-[#0C3471] hover:text-white">
                Destra
              </label>
            </div>
          

</div>